################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAPI.Net6/bin
/WebAPI.Net6/obj
/WebAPI.Net6/Properties/ServiceDependencies
/WebAPI.Net6/Properties/PublishProfiles
